.tile {
    width: 20px;
    height: 20px;
    border: 1px solid black;
}

.empty{
    background-color: gray;
}

.I {
    background-color: lightblue;
}
.J {
    background-color: darkblue;
}
.L{
    background-color: orange;
}
.O{
    background-color: yellow;
}
.S{
    background-color: green;
}
.Z{
    background-color: red;
}
.T{
    background-color: magenta;
}