@page "/game"

<div class="container">
    @if (game.IsGameOver)
    {
        <h1>Game Over</h1>
    }
    else
    {
        <div class="board" style="grid-template-columns: repeat(@Board.Width, 10px); grid-template-rows: repeat(@Board.Height, 10px)">
            @for (var y = Board.Height - 1; y >= 0; y--)
            {
                for (var x = Board.Width - 1; x >= 0; x--)
                {
                    var tile = tiles.SingleOrDefault(t => t.X == x && t.Y == y);
                    <TetrisTile Tile="@tile"/>
                }
            }
        </div>
    }
</div>