@page "/game"

<div class="container" @ref="container" tabindex="0" @onkeydown="OnKeyPress">
    @if (game.IsGameOver)
    {
        <h1>Game Over</h1>
    }
    else
    {
        <div class="board" style="grid-template-columns: repeat(@Board.Width, 21px); grid-template-rows: repeat(@Board.Height, 21px)">
            @for (var y = Board.Height - 1; y >= 0; y--)
            {
                for (var x = 0; x < Board.Width; x++)
                {
                    var tile = tiles.SingleOrDefault(t => t.X == x && t.Y == y);
                    <TetrisTile Tile="@tile"/>
                }
            }
        </div>
    }
</div>